<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zVoorbeeldExamen/src/be/pxl/ve2/oef2oplossing/Ve2Oef2Oplossing.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="be.pxl.ve2.oef2oplossing.Ve2Oef2Oplossing"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zVoorbeeldExamen"/>
</launchConfiguration>
